<h2 class="pink-title mb-3">Успешен наем</h2>

<div class="alert alert-success">
	Плащането е прието и наемът е създаден успешно!
</div>

<div class="d-flex justify-content-end">
	<a asp-action="MyRentals" class="btn btn-pink">Моите наеми</a>
</div>