.home-logo {
    height: 90px;
}

.home-bg {
    height: 100vh;
    width: 100%;
    background-image: url('/images/pinkPhoto.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.home-box {
    background-color: #ffffffcc;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.info-box {
    background: lavenderblush;
    border: 1px solid #f1d1df;
    border-radius: 16px;
    padding: 18px;
    text-align: center;
}

.info-box2 {
    background: white;
    border: 1px solid #f1d1df;
    border-radius: 16px;
    padding: 18px;
    text-align: center;
}

.info-top {
    color: mediumvioletred;
    font-size: 24px;
    font-weight: 800;
}
